@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --darkColor: white;
  --lightColor: black;
}

.heading {
  font-family: var(--ff-one);
  color: black;
  font-size: 3em;
  font-weight: 5900;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.top {
  margin-left: 30px;
  margin-bottom: 30px;
}
.top > p {
  color: rgb(185, 203, 217);
  margin-top: 15px;
  margin-bottom: 15px;
}
.top > p + h2 {
  font-family: var(--ff-one);
  font-size: 42px;
  font-weight: 900;
  line-height: 47px;
  margin: -12px 0px 16px;
}
/* __________________________top nav  */
#top_a {
  margin-top: 50px;
  margin-left: 40px;
}

#top_a a {
  text-decoration: none;
  padding: 06px;
  font-size: 14px;
  color: rgb(9, 92, 87);
  font-style: initial;
}

/* ___________________ */
#container {
  display: flex;
}

#container > :nth-child(1) {
  height: auto;
  width: 15%;
  margin-left: 50px;
  margin-right: 50px;
}
#container > :nth-child(2) {
  width: 50%;
}
#box1 img {
  cursor: pointer;
  margin-top: 5px;
}
#container > :nth-child(3) {
  width: 20%;
  margin-left: 50px;
  margin-right: 50px;
}
#box2 {
  width: 100%;
}
#box2 > div {
  display: flex;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: auto;
}
#box2 > div:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.image {
  padding: 40px;
}
.image > img {
  border-radius: 8px;
  height: 130px;
}
.innertext {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
  overflow: hidden;
  font-family: "Dosis", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}
.innertext > h3 {
  margin-bottom: 10px;
}
.innertext > h3 + p {
  margin-bottom: 5px;
}

p + p {
  margin-bottom: 10px;
}
#box1 > div {
  height: 150px;
  margin-bottom: 30px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  overflow: hidden;
  border-bottom: 1px solid rgb(190, 174, 174);
}
#box1 > p {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  font-weight: bold;
}
#box1 > div > img {
  margin-top: 40px;
  width: 250px;
  height: 60px;
}
.inner {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1 ps solid black;
}

.inner > img {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.inner > img + p {
  margin-top: 10px;
  font-family: "Dosis", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}

.inner > img + p:hover {
  color: rgb(69, 118, 155);
}
.innerBox {
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.innerBox:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.innerBox > img {
  width: 100%;
  height: 200px;
}
.innerBox > img + h4 {
  padding: 5px;
}
.innerBox > img + h4:hover {
  color: rgb(69, 118, 155);
}
/* _____________________________
*/

/* #add1_img img {
  
  border: 1px solid red;
  width: 80%;
  height: 80%;
} */

/* ________________ */
#lastadd_img {
  cursor: pointer;
}
